*{
	margin: 0;
	padding: 0;
}
body{
	background: #888;
}
#pro2{
	width: 350px;
	padding: 100px 0px;
	margin: 15% auto;
	text-align: center;
	background: #f1f1f1;
	border-radius: 3px;
}
#pro2 #inp,#myBtn{
	padding-left: 15px;
	background: #888;
	margin:10px auto;
	padding: 10px;
	border: none;
	text-align: center;
	border-radius: 3px;
	transition: .9s;
}
#pro2 #myBtn{
	width: 186px;
}